# Containers & Functions

In [1]:
##list comprehension

In [3]:
lst=[1,3,4,"Anand"]
lst

[1, 3, 4, 'Anand']

In [9]:
lst2=[1,2,3,4]
lst1=[]
for i in lst2:
    lst1.append(i**2)
lst1

[1, 4, 9, 16]

In [10]:
[i**2 for i in lst2]

[1, 4, 9, 16]

In [13]:
##even numbers in list
ven=[i for i in [1,2,3,4,5,6,7,8,9,10] if i%2==0]
ven

[2, 4, 6, 8, 10]

In [14]:
sum(ven)

30

In [15]:
#tuples

In [17]:
#tuples are immutable

In [18]:
(1,3,4,5,6)

(1, 3, 4, 5, 6)

In [19]:
type((1,3,4,5,6))

tuple

In [20]:
#list to tuple
l1=[1,2,3]
tuple(l1)

(1, 2, 3)

In [35]:
t1=(2,3,4,6,7,8)
t1[4]

7

In [23]:
#why tuples are immutabe;
t1[4]=3  #booz, as like strings the don't have permission to change there element using index numbers...

TypeError: 'tuple' object does not support item assignment

In [24]:
# So the conclusion is:"String and tuples are IMMUTBALE " and "List is mutable"

In [33]:
t1.count(3)

1

In [37]:
t1.index(8)

5

In [39]:
#sets- Collections of unique elements

In [43]:
set((1,2,3,4,5)) #giving as tuples

{1, 2, 3, 4, 5}

In [46]:
set(["Anand","AV","Annu"])# giving as  list

{'AV', 'Anand', 'Annu'}

In [48]:
list_1=[1,2,3,4,5,6,7,8,9,0,1,2,3,4,8]
list_1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 8]

In [49]:
set(list_1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [51]:
list_1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 8]

In [54]:
x1={}
type(x1)

dict

In [57]:
x1=set()
x1.add(23)
x1

{23}

In [69]:
x1={12,45,23,65}
x2={25,56,76,65,87}

In [70]:
x1.union(x2)

{12, 23, 25, 45, 56, 65, 76, 87}

In [71]:
x1.intersection(x2)

{65}

In [72]:
#x1.intersection_update(x2)

In [73]:
x1.difference(x2)

{12, 23, 45}

In [74]:
#x1.difference_update(x2)

In [77]:
a1=set((1,2,3,4))
a2=set((1,2,3,4,5,6,7,8))
a1.issubset(a2)

True

In [78]:
#Cannot do indexing on sets
#Suscriptable means weather we can travers or not
a1[3]

TypeError: 'set' object is not subscriptable

In [79]:
# Dictionary

In [81]:
#Dictionary is a combination of key-value pairs

In [82]:
type({})

dict

In [88]:
dict1={1:"Anand",2:"Vishwakarma","doc":"My name is Anand Vishwakarma"}
#Key shold be unique
dict1

{1: 'Anand', 2: 'Vishwakarma', 'doc': 'My name is Anand Vishwakarma'}

In [89]:
dict1[2]

'Vishwakarma'

In [91]:
dict1["doc"]

'My name is Anand Vishwakarma'

In [93]:
dict1.items()[0]
#Dictionary is not subscriptable

TypeError: 'dict_items' object is not subscriptable

In [94]:
dict1.keys()[0]

TypeError: 'dict_keys' object is not subscriptable

In [98]:
list(dict1.keys())[0]

1

In [100]:
list(dict1.values())[0]

'Anand'

In [101]:
dict1[1]#Indexing based on keys

'Anand'

In [102]:
dict1.values()

dict_values(['Anand', 'Vishwakarma', 'My name is Anand Vishwakarma'])

In [103]:
dict1.keys()

dict_keys([1, 2, 'doc'])